<div class="container">
<h2>My memos</h2>

  <form role="form" ng-submit="addMemo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="memo" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <br>
  <div ui-sortable ng-model="memos">
    <p class="input-group" ng-repeat="memo in memos" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="memo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="removeMemo($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>
</div>
